body{background-color: rgb(219, 231, 241);}

.lyrics{
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 20px;
    background-color: whitesmoke;
    min-width: 600px;
    text-align: center;
}